body {
  display: block;
  font-family: Arial, Verdana, Georgia;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

/***********************/
/* Main Menu           */
/***********************/

#load-page-text {
  color: white;
  display: block;
}

#load-page-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: black;
}

#load-page-image {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
}

#start-page {
  display: none;
}

#title {
  position: absolute;
  font-size: 10vw;
  text-align: center;
  width: 100%;
  top: 1px;
  font-weight: bolder;
  font-family: Luminari;
  color: rgb(100, 48, 48);
  letter-spacing: 10px;
  text-shadow: 10px 1px 2px rgba(243, 169, 57, 0.555), 0 0 35px rgb(255, 239, 13), 0 0 20px rgb(0, 255, 85);
}

#background-img {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  transition-duration: 1s;
  z-index: -3;
  }

  #music-button {
    padding: 2% 0 2% 0;
    font-size: 2.5vw;
  }

/***********************/
/* Customize content */
/***********************/

#customize-page {
  display: none;
}

#text-customize {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 2.5vw;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin: 3% 0 1% 0;
}

#image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#user-input-name {
  justify-content: center;
  align-items: center;
  display: inline; 
}

#input-box-name {
  width: 20%;
  margin:0;
}

#button-container-customize {
  /* display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#character-customize-wrapper {
  margin: 3% 5% 5% 5%;
}

#play-button-customize {
  padding:5;
  margin:0;
  width: 100%;
  animation: blur 4s ease 0s infinite;
  -webkit-animation: expand 4s ease 0s infinite;
  -moz-animation: expand 4s ease 0s infinite;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: medium;
}

/* Avatar Button*/

.avatar-buttons {
  display: inline-block;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.712);
}

#avatar-img-button:hover {
  transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 0.432);
  border-color: rgb(45, 158, 0);
  border-radius: 100%;
}

#avatar-img-button img {
  display: block;
}

#avatar-img-button {
  background-color: transparent;
  outline: none;
}

/***********************/
/* Exploration content */
/***********************/

#exploration-page {
  display: none;
}

#middle-area {
  position: relative;
  margin: 2% 20%;
  padding-left: 5%;
  padding-right: 5%;
}

/* Room graphics */

#loading-image {
  height: 50% !important;
  width: 50% !important;
  vertical-align: middle;
  margin: auto;
  display: inline-block;
}

#room-graphic {
  text-align: center;
  position: relative;
  overflow: hidden;
  /*overflow-x: auto;
  overflow-y: hidden;*/
}

#room-graphic img {
  width: 100%;
  height: 100%;
  display: block;

  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#room-graphic table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  display: block;
}

#room-graphic table div {
  height: 100%;
}

#room-graphic #tile-layer-2 {
  position: absolute;
  top: 0;
}

#room-graphic td {
  padding: 0;
}

.room-object {
  cursor: pointer;
}

/* Word description stuff */

#text-passage-container {
  overflow: auto;
  position: relative;
}

#text-passage {
  font-size: 120%;
  line-height: 175%;
  text-align: left;
  margin: 0 0 0 2%;
}

/* Word stuff that you can click on */

.clickable-text {
cursor: pointer;
color: blue;
}
.clickable-text:hover {
color: lightskyblue;
}

/* Sidebars */

#right-sidebar {
position: absolute;
width: 14%;
right: 3%;
}

#save, #exit {
display: block;
width: 130%;
font-size: 3vw;
height: 6vw;
}

#save-exit-wrapper {
position: relative;
top: 60%;
bottom: 40%;
}


#left-sidebar {
position: absolute;
width: 14%;
left: 5%;
list-style: none;
margin: 0;
padding: 0 1% 0 0;
height: 100%;
}

#left-sidebar li {
text-align: right;
line-height: 140% !important;
list-style: none;
background-repeat: no-repeat;
margin-bottom: 30%;
}

#left-sidebar #game-title {
font-size: 150%;
text-decoration: underline;
}

#left-sidebar #credits {
padding-bottom: 15%;
font-weight: normal;
font-size: 80%;
cursor: auto;
}

/* Inventory bar */

#inventory h1{
margin-top: 10%;
text-align: center;
text-decoration: underline overline dashed;
}

#inventory ul {
padding: 0;
}

#inventory li {
list-style: none;
text-align: left;
margin-bottom: 10%;
}

/* Hide the math question before it appears */
#dice-question-container {
visibility: hidden;
text-align: center;
margin-left: 2%;
}

#math-question {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 2.2vw;
  letter-spacing: 2px;
  color: white;
}

#math-result {
  visibility: hidden;
}

/* Style the input box */
input[type=text] {
width: 70px;
padding: 12px 18px;
box-sizing: border-box;
border: 3px solid rgba(247, 247, 247, 0.9);;
outline: none;
background-color: rgba(247, 247, 247, 0.7);;
border-radius: 15px;
visibility: inherit;
color: rgb(58, 58, 58);
font-weight: bolder;
font-size: 150%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text]:focus {
transition-duration: 0.5s;
border: 3px solid rgb(45, 158, 0);;
}

input[type=text]:hover {
  transition-duration: 0.5s;
  border: 3px solid rgb(45, 158, 0);;
  }


/******************/
/* Battle content */
/******************/

#battle-page {
  display: none;
}


#fight-page {
    transition-delay: 0.2s;
    display: none;
}
#fight-to-main-button {
    margin: 0 0 0 0;
}

#flee-to-main-button {
  margin: 0 0 0 0;
}

#flee-to-fight-button {
  margin: 0 0 0 0;
}

.damage-text {
color: red;
}

#progress-bar {
  background-color: rgb(153, 153, 153); 
  width: 0%; 
  height:100%; 
  z-index: 2; 
  border-radius: 25px;
}

#flee-dice-value {
  letter-spacing: 2px;
  color: white;
  font-size: 2.2vw;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-container {
    display: flex;
    flex-direction: column;
    float: left;
}

#flee-button {
  width: 165%;
  height: 6vw;
  font-size: 4vw;
  text-align: center;
  outline: none;
  cursor: pointer;
  animation: blur 2s ease 0s 5s;
  -webkit-animation: expand 2s ease 0s;
  -moz-animation: expand 2s ease 0s;
}

#battle-info-fight {
  width: 55%;   
  height: 20%;
  right: 10%;
  position: absolute;
}

/* The button for rolling dice */

#dice-roller {
  margin-top: 1%;  
  margin-bottom: 9%;  
  width: 165%;
  height: 6vw;
  font-size: 4vw;
  animation: blur 2s ease 0s 5s;
  -webkit-animation: expand 2s ease 0s;
  -moz-animation: expand 2s ease 0s;
}

/* Images for the actual dice being rolled */

.dice-img {
height: 49%;
width: 25%;
padding: 1%;
margin-bottom: 1%;
display: inline-block;
}

.label {
 margin: 5%; 
} 

.label-style { 
  font-weight: bold;
  font-size: 1.1vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 65, 65);
}

.health-pad {
    width: 10vw;
    padding: 0 18% 5% 5%;
    border-radius: 20px;
}

.heart-img {
  padding: 2px;
  width: 2.2vw;
  height: 1.8vw;
  float: left;
}

.lightning-img {
  width: 2.2vw;
  height: 1.8vw;
  float: left;
}

/* Character's images */
#character-avatar {
  position: relative;
  top:0px;
}

#character-weapon {
  width: 10vw;
  height: 10vw;
  position:absolute; 
  top: 12vw; 
  left: 50vw; 
  opacity: 0;
}

/* Character's health bar */
.health {
width: 100%;
height: 2.2vw;
position: relative;
color: rgb(146, 0, 49);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
padding: 3%;
white-space: nowrap;
align-items: center;
}

#character-health-pad {
  background: linear-gradient(to bottom right, rgb(248, 213, 213),rgb(255, 255, 255), rgb(158, 232, 255));
}

#character-health {
  border: 5px solid rgb(187, 40, 89);
  border-radius: 20px;
}

.character-percent {
position: absolute;
font-size: 1vw;
padding: 5%;
left: 22%; 
}

.character-bar {
height: 100%;
background-color: rgb(245, 157, 176);
width: 50%;
border-radius: 10px;
}

/* Character's experience bar */
.experience {
  width: 100%;
  height: 2.2vw;
  position: relative;
  color: rgb(0, 162, 173);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding: 3%;
  white-space: nowrap;
  align-items: center;
  border: 5px solid rgb(1, 156, 184);
  border-radius: 20px;
}

#experience-pad {
    background-color: rgb(201, 230, 201);  
}

.experience-percent {
  position: absolute;
  font-size: 1vw;
  padding: 5%;
  left: 22%; 
}

.experience-bar {
  height: 100%;
  width: 50%;
  background-color: rgb(121, 235, 255);
  border-radius: 10px;
}

/* Monster's images */
#monster-pic {
  position: relative; 
  top: 0px;
}

#monster-weapon {
  width: 15vw;
  height: 10vw;
  position:absolute; 
  top: 16vw; 
  right: 50vw; 
  opacity: 0;
}

/* Monster's health bar */

#monster-health-pad {
  background: linear-gradient(to bottom right, rgb(248, 213, 213), rgb(255, 255, 255), rgb(158, 232, 255));
  margin-bottom: 20%;
}

#monster-health {
border: 5px solid rgb(187, 40, 89);
border-radius: 20px;
}

.monster-percent {
position: absolute;
font-size: 1vw;
padding: 5%;
left: 22%; 
}

.monster-bar {
height: 100%;
background-color: rgb(245, 157, 176);
width: 50%;
border-radius: 10px;
}

.floaty{
  position: relative; 
  opacity: 0; 
  bottom:280px; 
  left: 170px; 
  color: rgb(187, 40, 89); 
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Character and monster avatar*/
.avatar {
height: 14.5vw;
width: 14.5vw;
}

.align-image {
display: flex;
flex-direction: column;
}

#bar-container {
background-color: rgb(45, 158, 0);
border-radius: 25px;
width: 100px; 
height: 42px;
display: inline-block;
position: relative;
left: 2px;
margin-left:10;
}

#bar-container:hover {
transition-duration: 0.5s;
filter: saturate(2);
}

#submit-answer {
background: none;
width: 100px;
height: 100%;
border-style: none;
z-index: -1;
color: rgb(255,255,255);
outline: none;
border-radius: 25px;
font-weight: bold;
font-size: medium;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/***********************/
/* Flee Page */
/***********************/

#items-button {
  width: 250%;
  height: 6vw;
  font-size: 4vw;  
  text-align: center;
  outline: none;
  cursor: pointer;
}

.dice-img-flee {
  height: 45%;
  width: 28%;
  padding: 1%;
  margin-bottom: 1%;
  display: inline-block;
  }

#dice-question-container-flee {
  visibility: hidden;
  text-align: center;  
  margin-left: 2%;
}  

#dice-roller-flee {
  margin-top: 1%;  
  margin-bottom: 9%;   
  width: 250%;
  height: 6vw;
  font-size: 4vw;
  animation: blur 2s ease 0s 5s;
  -webkit-animation: expand 2s ease 0s;
  -moz-animation: expand 2s ease 0s;
}

#battle-info-flee {
  width: 55%;   
  height: 20%;
  right: 10%;
  position: absolute;
}

/***********************/
/* General Use Styling */
/***********************/

/* Image that pops up when you click on stuff */

#context-image {
max-width: 70%;
max-height: 70%;
margin: auto;
display: block;
}

/*#context-image {
width: 70%;
display: block;
height: auto;
margin: auto;
}*/

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: hidden; /* No scrollbars */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 40%;
height: 70%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Modal Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
color: black;
float: right;
font-size: 28px;
font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
}

.modal-body {
padding: 2px 16px;
}

.flex-container {
display: flex;
flex-direction: row;
justify-content: center;
}

.fight-flee-page {
  margin: 1% 10% 3% 10%;
  display: none;
}

.info-scroll-text {
  margin-top: 10px;
  border: none;
  background-color: rgba(247, 247, 247, 0.7);
  border-radius: 10px;
  overflow: auto;
  overflow-y: scroll;
  overflow-anchor: auto;
  padding: 0 1% 1% 1%;
  font-size: 120%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: pre-line;
}  

/* Button styling */

/* Helper span for aligning images vertically */
.v-helper {
display: inline-block;
height: 100%;
vertical-align: middle;
}

.buttons-holder {
  position: relative;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons.green {
  filter: hue-rotate(90deg); /* change yellow to green */
}

.buttons.blue {
  filter: hue-rotate(180deg); /* change yellow to blue */
}

.buttons {
  background-image: url("assets/button.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 19%;
  padding: 1% 0 1% 0;
  font-size: 3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  color: #fff;
}

.buttons:disabled {
  opacity: 0.5;
}

.buttons:hover:enabled{
  transition-duration: 0.5s;
  filter:  saturate(2);
} 

.buttons:active:enabled{
  filter:  brightness(1.1);
}

.buttons.green:hover:enabled{
  transition-duration: 0.5s;
  filter:  hue-rotate(90deg) saturate(2);
} 

.buttons.green:active:enabled{
  filter:  hue-rotate(90deg) brightness(1.1);
} 

.buttons.blue:hover:enabled{
  transition-duration: 0.5s;
  filter:  hue-rotate(180deg) saturate(2);
} 

.buttons.blue:active:enabled{
  filter:  hue-rotate(180deg) brightness(1.1);
} 

#play-button {
  margin-bottom: 4%;
  animation: blur 4s ease 0s infinite;
  -webkit-animation: expand 4s ease 0s infinite;
  -moz-animation: expand 4s ease 0s infinite;
}

@keyframes expand {
  0% {
   
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.small-buttons {
  background-image: url("assets/ok-button.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 14%;
  padding: 1% 0 1% 0;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  color: #fff;
  background-position: center;
}

.small-buttons:hover{
  transition-duration: 0.5s;
  filter:  saturate(2);
} 

.small-buttons:active{
  filter:  brightness(1.1);
} 

#battle-button {
  background-size: contain;
  background-position: center;
  font-size: 2vw;
  margin: 0 auto;
  display: none;
}

/* Fading in animation */
.fade-in {
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease 0.2s;
  -moz-animation: fadeIn ease 0.2s;
  -o-animation: fadeIn ease 0.2s;
  -ms-animation: fadeIn ease 0.2s;
}@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* Fading out and in animation (continuous) */
.fade-out-in {
  animation: fadeOutIn ease 0.5s;
  -webkit-animation: fadeOutIn ease 0.5s;
  -moz-animation: fadeOutIn ease 0.5s;
  -o-animation: fadeOutIn ease 0.5s;
  -ms-animation: fadeOutIn ease 0.5s;
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@-moz-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fading out animation */
.fade-out {
  animation: fadeOut ease 0.2s;
  -webkit-animation: fadeOut ease 0.2s;
  -moz-animation: fadeOut ease 0.2s;
  -o-animation: fadeOut ease 0.2s;
  -ms-animation: fadeOut ease 0.2s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}