:root {
    --book-width: 400px;
    --book-height: 500px;
}

/****************************************/
/*            Accessibility             */
/****************************************/

.js {
    display: none;
}

/* When the screen is less than 800 pixels wide, 
hide main nav links.  Show the link that should open and close 
the mobile nav (.icon) */
@media screen and (max-width: 800px) {
    
}

/* Smaller text for smaller screens */
/************************************/

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 530px) {
    
}

@media screen and (max-width: 430px) {
    

}


/****************************************/
/*       General element styling        */
/****************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    display: border-box;
}

body {
    font-family: 'Gill Sans','Gill Sans MT','Calibri','Trebuchet MS',sans-serif;
    display: border-box;
    background-color: rgb(209, 209, 209);
}


/****************************************/
/*           Book cover display         */
/****************************************/
  
.container {
    z-index: 1;
    perspective: 3000px;
}
  
.container .book {
    position: relative;
    display: block;
    width: var(--book-width);
    height: var(--book-height);
    margin: 5% auto;
    border-radius: 2px 4px 4px 2px;
    background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
    -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    font-weight: 400;
    color: #2b2b2b;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.container .book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
}

.container .book > div,
.container .front > div {
    display: block;
    position: absolute;
}


.container .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
}

.container .front > div {
    width: var(--book-width);
    height: var(--book-height);
}

.container .left-side{
    width: 40px;
    left: -20px;
    height: var(--book-height);
    background-image: url("/Site_Files/leather-binder.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
}

.cover svg{
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -100px;
    margin-left: -110px;
    width: 300px;
}

.book-ring, .book-corner-top, .book-corner-bot {
    position: absolute;
    filter: drop-shadow(0px 5px 0px #000);
}

.book-ring {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.book-corner-top {
    top: 2%;
    right: 2%;
}

.book-corner-bot {
    bottom: 2%;
    right: 2%;
}

.container .front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.container .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    width: 3px;
    background: rgba(0,0,0,0.5);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container h2 {
    width: calc(var(--book-height) - 30px);
    height: 40px;
    color: #2b2b2b;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.cover {
    background-image: url("/Site_Files/leather-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.gold-text {
    background-image: url("/Site_Files/gold-texture.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /*-webkit-text-stroke: 3px #ffaa00;*/
   }



