/****************************************/
/*            Variables                 */
/****************************************/

:root {
    --main-fonts: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --fancy-header-font: 'New Rocker', cursive;
    --subheading-font: 'Montserrat', 'Copperplate', sans-serif;

    --book-width: 400px;
    --book-height: 500px;
    --page-turning-speed: .5s ease-in-out, box-shadow .35s ease-in-out;
    --book-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
    
    --radiance-tile-width: 192px;
    --radiance-total-width: 34560px;
    --num-radiance-tiles: 180;
}

/****************************************/
/*            Accessibility             */
/****************************************/

.js {
    display: none;
}

/* When the screen is less than 800 pixels wide, 
hide main nav links.  Show the link that should open and close 
the mobile nav (.icon) */
@media screen and (max-width: 800px) {
    
}

/* Smaller text for smaller screens */
/************************************/

@media screen and (max-width: 640px) {
    
}

@media screen and (max-width: 530px) {
    
}

@media screen and (max-width: 430px) {
    

}


/****************************************/
/*       General element styling        */
/****************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-fonts);
    background-color: rgb(209, 209, 209);
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.square-element:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.transform-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/****************************************/
/*           Quick Links                */
/****************************************/

.quick-links {
    position: absolute;
    bottom: 2%;
    right: 2%;
    -webkit-transition: visibility 0s linear 0.35s, opacity 0.35s linear;
    -moz-transition: visibility 0s linear 0.35s, opacity 0.35s linear;
    transition: visibility 0s linear 0.35s, opacity 0.35s linear;
}

.quick-links ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}

.quick-links ul li:first-child {
    font-style: italic;
}

.quick-links ul li::after {
    content: "•";
    display: inline-block;
    margin: 0 20px;
}

.quick-links ul li:last-child::after {
    content: "";
    margin: 0;
}

/****************************************/
/*       Tracing minigame: Generic      */
/****************************************/

.tracing-game-container {
    width: 50%;
    margin: 10% auto;
    display: block;
    position: relative;
}

.tracing-game-container > .tracing-game {
    height: auto;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 10%;
    cursor: url("/Site_Files/quill.png") 7 26, default;
}

.square-border {
    border-image-source: url("/Site_Files/square-border.PNG");
    border-image-slice: 44;
    border-image-repeat: stretch;
    border-image-width: 12px;
    border-image-outset: 13px;
}

.completion-link {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    transition: opacity 2s ease;
}

.completion-animation {
    background-repeat: no-repeat;
    animation: animate-spritesheet 5s steps(var(--num-tiles)) 1 paused;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

@keyframes animate-spritesheet {
    100% {
        background-position: calc(-1 * var(--spritesheet-width));
    }
}

/****************************************/
/*       Resume tracing minigame        */
/****************************************/

.radiance {
    --tile-size: var(--radiance-tile-width);
    --num-tiles: var(--num-radiance-tiles);
    --spritesheet-width: var(--radiance-total-width);

    background-image: url("/Site_Files/radiance.png");
}

.resume-icon {
    height: 70%;
    box-shadow: 0px 0px 5px black;
}

.resume-icon:hover {
    outline: black 3px solid;
    outline-offset: 3px;
}



/****************************************/
/*           Open book styling          */
/****************************************/

.book-page h1, .book-page h2, .book-page h3 {
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
}
.book-page h1 {
    font-size: 44px;
    font-family: var(--fancy-header-font);
}
.book-page h2 {
    font-family: var(--subheading-font);
}
.book-page h3 {
    font-size: 12px;
    letter-spacing: 3px;
    font-family: var(--subheading-font);
}
.book button {
    position: absolute;
    bottom: 2%;
    right: 2%;
    border: none;
    cursor: pointer;
    height: 61px;
    width: 42px;
    border: none;
    background: none;
    overflow: visible;
}
.next-page-btn {
    right: 2%;
}
.previous-page-btn {
    left: 2%;
}
.book button img {
    height: 50px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.book button img.unhighlighted,
.book button:hover img.highlighted {
    visibility: visible;
}
.book button img.highlighted, 
.book button:hover img.unhighlighted {
    visibility: hidden;
}
.next-page-btn img#illustration-click {
    top: -100%;
    left: -50%;
}
#page-line {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 90%;
}
#illustration-man {
    width: auto;
    height: 80%;
    margin: 10% auto;
    display: block;
}
.chapter-illustration {
    height: auto;
    width: 60%;
    display: block;
}

.book canvas > img {
    visibility: hidden;
}

.flavor-text > p {
    font-style: italic;
    text-align: center;
}


.container .open-book {
    overflow: visible;
    transform-origin: left center;
    -moz-transform-origin: left center;
    -webkit-transform-origin: left center;
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);

    -webkit-transition: -webkit-transform var(--page-turning-speed);
    -moz-transition: -moz-transform var(--page-turning-speed);
    transition: transform var(--page-turning-speed);
}

.cover-inside {
    background-image: url("/Site_Files/book-inside.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);

    -webkit-transition: -webkit-transform var(--page-turning-speed);
    -moz-transition: -moz-transform var(--page-turning-speed);
    transition: transform var(--page-turning-speed);

    
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    width: var(--book-width);
    height: var(--book-height);
}

.book-backside {
    visibility: hidden;
    background-image: url("/Site_Files/book-backside.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: var(--book-width);
    height: var(--book-height);
    -webkit-box-shadow: var(--book-shadow);
    -moz-box-shadow: var(--book-shadow);
    box-shadow: var(--book-shadow);
    -webkit-transition: -webkit-transform var(--page-turning-speed);
    -moz-transition: -moz-transform var(--page-turning-speed);
    transition: transform var(--page-turning-speed);
    transform-origin: left;
    -moz-transform-origin: left;
    -webkit-transform-origin: left;
}

.book-page {
    visibility: hidden;
    position: absolute;
    width: 85%;
    height: 83%;
    padding: 5%;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-top: 6%;
    background-image: url('/Site_files/book-page-right.png');
    background-position-x: left;
    -webkit-transition: -webkit-transform var(--page-turning-speed);
    -moz-transition: -moz-transform var(--page-turning-speed);
    transition: transform var(--page-turning-speed);
}

.book-page > .book-page-reverse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    background-image: url('/Site_files/book-page-left.png');
    background-position-x: right;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
}

.flip-page-1, .flip-page-2, .flip-page-3 {
    backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
}

.flip-page-1 {
    -webkit-transition: -webkit-transform .6s ease-in-out .01s;
    -moz-transition: -moz-transform .6s ease-in-out .01s;
    transition: transform .6s ease-in-out .01s;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/Site_files/book-page-right.png');
}
.flip-page-2 {
    -webkit-transition: -webkit-transform .7s ease-in-out .01s;
    -moz-transition: -moz-transform .7s ease-in-out .01s;
    transition: transform .7s ease-in-out .01s;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('/Site_files/book-page-right.png');
}
.flip-page-3 {
    -webkit-transition: -webkit-transform .8s ease-in-out .01s;
    -moz-transition: -moz-transform .8s ease-in-out .01s;
    transition: transform .8s ease-in-out .01s;
}



/****************************************/
/*           Book cover display         */
/****************************************/
  
.container {
    z-index: 1;
    perspective: 3000px;
    height: 100vh;
    overflow: hidden;
}
  
.book {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: var(--book-width);
    height: var(--book-height);
    -webkit-box-shadow: var(--book-shadow);
    -moz-box-shadow: var(--book-shadow);
    box-shadow: var(--book-shadow);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}

.container .closed-book {
    cursor: pointer;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.container .closed-book:hover {
    -webkit-transform: translate(-50%, -50%) rotate3d(0,1,0,35deg);
    -moz-transform: translate(-50%, -50%) rotate3d(0,1,0,35deg);
    transform: translate(-50%, -50%) rotate3d(0,1,0,35deg);
}

.container .book > div,
.container .book-front > div {
    display: block;
    position: absolute;
}

.container .closed-book .book-front {
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
}

.container .book-front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    z-index: 10;
}

.container .book-spine {
    width: 41px;
    left: -20px;
    height: var(--book-height);
    background-image: url("/Site_Files/leather-binder.png");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
}

.book-ring, .book-corner-top, .book-corner-bot {
    position: absolute;
    filter: drop-shadow(0px 5px 0px #000);
}

.book-ring {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.book-corner-top {
    top: 2%;
    right: 2%;
}

.book-corner-bot {
    bottom: 2%;
    right: 2%;
}

.container .book-front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
}

.container .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    bottom: 0;
    width: 3px;
    background: rgba(0,0,0,0.5);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover {
    background-image: url("/Site_Files/leather-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--book-width);
    height: var(--book-height);
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.container .book-spine h2 {
    width: calc(var(--book-height) - 30px);
    height: 40px;
    color: #2b2b2b;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
}

.gold-text {
    background-image: url("/Site_Files/gold-texture.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   }



